{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
{#    <link rel="icon" href="../../../../favicon.ico">#}

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static  'vendor/font-awesome/css/fontawesome-all.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/pandemic.css' %}" rel="stylesheet">
  </head>

  <body {% block body_class %}{% endblock %}>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h1 class="my-0 mr-md-auto font-weight-normal">PANDEMIC - Season 0</h1>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'game_tracker:city_list' %}">Cities</a>
            <a class="p-2 text-dark" href="{% url 'game_tracker:overview' %}">Games</a>
            {% if user.is_superuser %}
            <a class="p-2 text-dark" href="#">Scores</a>
            {% endif %}
        </nav>
    </div>
    <div class="container-fluid">
    {% block content %}

    {% endblock %}
    </div>
    {% block javascript %}
        <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
